.react-resizable {
  position: relative;
  border: 2px dashed #00b8ff;
  overflow: visible !important;
}
.react-resizable-handle-se {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -10px;
  right: -10px;
  background-color: #00b8ff;
  border: 5px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #717171;
  box-sizing: border-box;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: -10px;
  background-color: #00b8ff;
  border: 5px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #717171;
  box-sizing: border-box;
  cursor: nw-resize;
}

.react-resizable-handle-ne {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  right: -10px;
  background-color: #00b8ff;
  border: 5px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #717171;
  box-sizing: border-box;
  cursor: ne-resize;
}

.react-resizable-handle-sw {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -10px;
  left: -10px;
  background-color: #00b8ff;
  border: 5px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #717171;
  box-sizing: border-box;
  cursor: sw-resize;
}
